# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.idea/*
app/bin/*
!app/bin/.gitkeep
app/src/github.com/*
app/src/gopkg.in/*
app/pkg/*
app/web/static/media/*
!app/web/static/media/.gitkeep
app/access.log
app/src/stream.db
